PURELYMAIL_API_TOKEN=dQw4w9WgXcQ
PURELYMAIL_TEST_DOMAIN_PRIMARY=integration-primary.example
PURELYMAIL_TEST_DOMAIN_SECONDARY=integration-secondary.example
PURELYMAIL_TEST_DOMAIN_TERTIARY=integration-tertiary.example
PURELYMAIL_USER_PASSWORD=dQw4w9WgXcQdQw4w9WgXcQ
PURELYMAIL_API_TLS_VERIFY=true
