redactions = ["PURELYMAIL_API_TOKEN"]

[env]
_.path = "{{ env.PATH }}:{{ config_root }}/bin"
_.python.venv = { path = ".venv", create = true }

[task_config]
dir = "{{ config_root }}"
includes = [".config/tasks.mise.toml"]

[tools]
actionlint = "1.7.9"
jq = "1.8.1"
python = "3.14.0"
typos = "1.40.0"
uv = "0.9.13"
zizmor = "1.16.3"

[alias]
zizmor = "asdf:vic1707/asdf-zizmor"

[settings.python]
compile = false     ## Forces download of precompiled bin
# uv_venv_auto = true # <https://github.com/jdx/mise-action/issues/295>

[hooks] # <https://github.com/jdx/mise-action/issues/295>
postinstall = "uv sync"

[settings]
experimental = true # needed for uv venv
