[env]
_.path = "{{ env.PATH }}:{{ config_root }}/bin"
_.python.venv = { path = "{{ config_root }}/.venv", create = true }
ANSIBLE_HOME = "{{ config_root }}/.ansible"

[tasks.generate-integration-config]
env = { _.file = ".env" }
dir = "{{ config_root }}/ansible_collections/bofzilla/purelymail/tests/integration"
run = '''
rm -f integration_config.yml
while read -r line; do
    eval 'echo "'"$line"'"' >> integration_config.yml
done < integration_config.yml.tpl
'''

[tasks.integration-tests]
depends = ["generate-integration-config"]
dir = "{{ config_root }}/ansible_collections/bofzilla/purelymail"
run = "ansible-test integration --coverage --python-interpreter $(which python)"

[tasks.unit-tests]
dir = "{{ config_root }}/ansible_collections/bofzilla/purelymail"
run = "ansible-test units --coverage --python-interpreter $(which python)"

[tasks.tests]
depends = ["unit-tests", "integration-tests"]

[tasks.clean]
run = """
rm -fr .ruff_cache
rm -fr ansible_collections/bofzilla/purelymail/tests/output
"""

[tasks.tests-coverage]
depends = ["clean", "tests"]
dir = "{{ config_root }}/ansible_collections/bofzilla/purelymail"
run = "ansible-test coverage html"

[tools]
actionlint = "1.7.8"
jq = "1.8.1"
python = "3.13.9"
typos = "1.39.0"
uv = "0.9.8"
zizmor = "1.16.3"

[alias]
zizmor = "asdf:vic1707/asdf-zizmor"

[settings.python]
compile = false     ## Forces download of precompiled bin
# uv_venv_auto = true # <https://github.com/jdx/mise-action/issues/295>

[hooks] # <https://github.com/jdx/mise-action/issues/295>
postinstall = "uv sync"

[settings]
experimental = true # needed for uv venv
