[project]
name = "ansible-collection-purelymail"
version = "0.0.1"
dependencies = [
	"ansible==12.2.0",
	"ansible-lint==25.11.0",
	"coverage==7.6.1",
	"pydantic==2.12.4",
	"pytest==9.0.1",
	"pytest-ansible==25.11.1",
	"requests==2.32.5",
	"ruff==0.14.5",
	"ty==0.0.1a26",
]

[tool.ruff]
indent-width = 4
line-length = 180

[tool.ruff.format]
quote-style = "double"
indent-style = "tab"
skip-magic-trailing-comma = false
line-ending = "lf"

[tool.ruff.lint]
select = [
	# pycodestyle
	"E",
	# Pyflakes
	"F",
	# pyupgrade
	"UP",
	# flake8-bugbear
	"B",
	# flake8-simplify
	"SIM",
	# isort
	"I",
]

[tool.ruff.lint.pycodestyle]
max-line-length = 180
