[project]
name = "ansible-collection-purelymail"
version = "0.0.1"
dependencies = [
	"ansible==13.0.0",
	"ansible-lint==26.1.1",
	"coverage==7.10.7",
	"pydantic==2.12.5",
	"pytest==9.0.2",
	"pytest-ansible==26.1.0",
	"requests==2.32.5",
	"ruff==0.14.8",
	"ty==0.0.1a32",
]

[tool.ruff]
indent-width = 4
line-length = 180

[tool.ruff.format]
quote-style = "double"
indent-style = "tab"
skip-magic-trailing-comma = false
line-ending = "lf"

[tool.ruff.lint]
select = [
	# pycodestyle
	"E",
	# Pyflakes
	"F",
	# pyupgrade
	"UP",
	# flake8-bugbear
	"B",
	# flake8-simplify
	"SIM",
	# isort
	"I",
]

[tool.ruff.lint.pycodestyle]
max-line-length = 180
