name: Code hygiene

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch:

permissions: {}

jobs:
  hygiene:
    name: hygiene
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: Zizmor
        run: mise zizmor
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Actionlint
        run: mise actionlint

      - name: Typos
        run: mise typos

      - name: Ansible-lint
        run: mise ansible-lint

      - name: ty
        run: mise ty

      - name: ruff (lint)
        run: mise ruff:lint

      - name: ruff (format)
        run: mise ruff:format
